
@import "tailwindcss";


/* Orbitron font */
@font-face {
  font-family: 'Orbitron';
  src: url('/orbitron/theleagueof-orbitron-13e6a52/Orbitron Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orbitron';
  src: url('/orbitron/theleagueof-orbitron-13e6a52/Orbitron Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orbitron';
  src: url('/orbitron/theleagueof-orbitron-13e6a52/Orbitron Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orbitron';
  src: url('/orbitron/theleagueof-orbitron-13e6a52/Orbitron Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}




:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-orbitron: 'Orbitron', Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #000 !important;
  color: var(--foreground);
}

body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-weight: 600;
  letter-spacing: -0.02em;
}

code, pre {
  font-family: var(--font-geist-mono), monospace;
}
